<div>
    <img src="assets/images/unnamed.jpg" width="300" alt="">
</div>
<div>
    <img src="assets/images/unnamed.jpg" width="300" alt="">
</div>

<h2>Fiche Personnelle </h2>


 <ul>
     <li>Civilité  <span> Monsieur</span></li>
     <li>Nom  <span> Cristoph</span></li>
     <li>Civilité  <span> Monsieur</span></li>
     <li>Prénom  <span> Jhone</span></li>
     <li>Date de naissance  <span> 1987/01/12</span></li>
     <li>Adresse 1  <span> Gueliz rue zarktounni Marrakech</span></li>
     <li>Adresse 2  <span> Gueliz rue zarktounni Marrakech</span></li>
     <li>Code postal  <span> 40000</span></li>
     <li>Ville  <span> Marrakech</span></li>
     <li>N° Mobile  <span> 0678650034</span></li>
     <li>Adresse email  <span> 0678650034</span></li>
     <li>N° Mobile  <span> megacomsys@gmail.com</span></li>
     <li>Situation familiale  <span> Célébataire</span></li>
 </ul>